/* Styling for the containers of individual divs*/

#main-container {
    border: 5px solid goldenrod;
    border-radius: 5px;
    display: inline-block;
}

.row-div,
.individual-div {
    box-sizing: border-box;
}

.row-div {
    display: flex;
}

/* Styling for individual divs themselves */

.individual-div {
    border: 2px solid black;
    height: 24px;
    width: 24px;
}

/* Styling for when each div is moused over */
.activated {
    background-color: #000000;
}